@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,300i');
 h1
 {
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 74px;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
 }
 ul{
   list-style: none;
 }
  h2
 {
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    line-height: 30px;
 }
 p, a , label
 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 200;
   font-size: 16px;
 }
 a
 {
   text-decoration: none;
   color: #ff3a74;
 }

 h1 div span
 {
   color: #ffe63f;
 }
 form label
{
  padding: 5px;
  padding-top: 10px;
}
input, textarea, select
{
  border: 2px solid black;
}

 @media screen and (max-width: 900px) {
  h1
  {
    font-size: 50px;
    line-height: 46px;
  }
  p
  {
    font-size: 12px;
  }
  a{
    font-size: 10px;
  }
  h2
  {
    font-size: 25px;
  }
}
@media screen and (max-width: 420px) {
  h1
  {
    font-size: 40px;
    line-height: 46px;
  }
  p
  {
    font-size: 11px;
    line-height: 1.3rem;
  }
  a{
    font-size: 8px;
  }
}

.svg_wrapper
{
    display: flex;
}
 .section_container
 {
     display: flex;
     height: 100%;
 }
 .content
 {
     display: flex;
     flex-direction: column;
 }


 .button_container
 {
    display: inline;
 }
 #hero_image_container
  {
    display: flex;
    flex: 2;
    justify-content: end;
  }
  #home_page_container_container
  {
    flex: 3;
    justify-content: center;
  }
#home_page_container_container > h1, #home_page_container_container > div{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

button {
  border: 2px black solid;
  color:#ff3a74;
  background: transparent;
  padding: 1rem 1.5rem 1rem 1.5rem ;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif
}

button::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  height: 3.2rem;
  left: 0.5rem;
  width: 102%;
  z-index: -1;
  transition: all 0.2s ease;
}
.btn_primary::before
{
  background-color: #fdec79;
}

.btn_secundary::before
{
  background-image:
    radial-gradient(#fdec79 25%, transparent 0), 
    radial-gradient(#fdec79 25%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
}
button:hover {
    cursor: pointer;
}
button:hover::before {
  left: 0;
  top: 0;
}
.scroll_down
{
position: absolute;
bottom: 50px;
cursor: pointer;
}
.scroll_down:before,
.scroll_down:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.scroll_down:before {
  -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll_down:after {
  -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}
@-webkit-keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
@keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  #home_page_container_container .button_container .btn_secundary
  {
    display: none;
  }
  #home_page_container_container .button_container .btn_primary
  {
    font-size: 11px;
    padding: 10px;

  }
    #home_page_container_container .button_container .btn_primary::before
  {
    height: 2.1rem;
  }
  #home_page_container_container .button_container
  {
    margin: 0;
  }
  .polka_rectangle
  {
    opacity: .5;
    display: block !important;
       filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
  }
  #home_page_container_container > h1 {

    margin-left: -80px !important;
    margin-top: -200px !important;

  }

}

@media screen and (max-width: 750px) {
  #home_page_container_container h1{
    font-size: 42px !important;
    margin-right: 10px !important;
  }
  #home_page_container_container > div  {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}
@media screen and (max-width: 800px) {
  #hero_image_container
  {
    flex: 4;
  }
  #home_page_container_container > div
  {
    margin-right: 20px;
  }

    #home_page_container_container button
  {
    width: 100%;
  }
  .scroll_down
  {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0 !important;
  }
    #hero_image_container
  {
    order: 1;
  }
  #home_page_container_container
  {
    order: 2;
  }
  #home_page_container_container > h1
  {
    margin-left: -30px;
  }
  #home_page_container_container > div
  {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  #home_page_container_container > h1, #home_page_container_container > div
  {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .button_container button
  {
    display: block;
    width: 60%;
    margin-bottom: 20px;
  }

}
@media screen and (max-width: 400px) {

  #home_page_container_container .button_container, #home_page_container_container h1
  {
    position: absolute;
    margin-left: -150px!important;
  }
    #home_page_container_container h1
  {
    font-size: 35px !important;
    line-height: 35px;
    margin-left: -300px !important;
  }
  #hero_image_container
  {
    flex: 6;
  }
  #home_page_container_container
  {
    flex: 0 !important;
    margin-top: -200px;
  }
  .polka_rectangle
  {
    display: none !important;
  }
}
@media screen and (max-width: 400px) {
  .scroll_down
  {
    display: none;
  }
  .nav_button_container 
  {
    width: 20px;
    top: 3% !important;
  }
  .nav_button_container span:nth-of-type(2)
  {
    top: 8px !important;
  }
  .nav_button_container span:nth-of-type(3)
  {
    top:16px !important;
  }
  .nav_button_container span
  {
    width: 20px !important;
    height: 3px !important;
  }
}
@media (max-height: 600px) and (max-width: 400px) {
    /* CSS stuff */
    .nav_button_container
    {
      display: none;
    }
}

#overview_section .svg_wrapper 
{
  flex: 3;
  justify-content: flex-start;
}
#overview_page_container
{
  flex: 4;
  justify-content: center;
}
#overview_page_container h1{
  line-height: 70px;
  letter-spacing: .3rem;
  display: inline-block;
}
#overview_page_container p 
{
  padding-right: 100px;
  line-height: 1.5rem;
}
#overview_header
{
  margin-bottom: 30px;
  padding-left: 50px;
}
#overview_header h1
{
  margin-top: -50px;
  margin-bottom: -10px;
}
#overview_header img
{
  margin-left: -20px;
  width: "-moz-max-content";
  display: block;
}
#instagram_CTA
{
  bottom: 50px;
  right: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#instagram_CTA a
{
  padding-right: 10px;
}
#instagram_CTA img
{
  width: 35px;
  height: 30px;
  cursor: pointer;
}
.block-revealer__content
{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  #overview_header h1
  {
    line-height: 50px;
  }
  #overview_header img
  {
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  #overview_section  .svg_wrapper
  {
    display: none;

  }
  #overview_page_container
  {
    padding-left: 50px;
  }
}
@media screen and (max-width: 420px) {
  #instagram_CTA
  {
    bottom: 20px;
  }
  #overview_header img
  {
    width: 150px;
  }
}

#services_heading {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  letter-spacing: .3rem;
  justify-content: center;
}
#services_heading img {
width: 30px;
height: 30px;
padding-left: 5px;
}
#overview_section.section_container
{
  justify-content: center;
}
#services_content_container
{
  display: flex;
flex-direction: row;
}
#services_content_container > div{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 100px;
}
#services_content_container img{
  width: 100px;
  margin: auto;
}
#services_page_container
{
  justify-content: center;
}
.service_image_container 
{
  margin: auto;
}
#services_content_container div a
{
  font-family: 'Saira Extra Condensed', sans-serif;
   text-transform: uppercase;
    font-weight: 600;
    margin: auto;
}
@media screen and (max-width: 1200px) {
  #services_content_container div
  {
    margin: 50px;
  }
    #services_content_container div a
  {
    font-size: 12px !important;
    padding: 5px;
  }
}

@media screen and (max-width: 700px) {
  #services_content_container
  {
    flex-direction: column;
  }
  #services_content_container div
  {
    margin: 0;
    margin-left: 30px;
    margin-right: 20px;
    border-bottom: 1px solid #e9e9e9
  }

  #services_heading h1
  {
    font-size: 40px !important;
  }
  #services_heading img{
    width: 20px;
    height: 20px;
  }
  #services_content_container img
  {
    width: 70px;
    margin-bottom: -5px;
    margin-top: 5px;
  }

}
@media screen and (max-width: 420px) {

  #services_heading h1
  {
    font-size: 25px !important;
  }
    #services_heading img{
    width: 15px;
    height: 15px;
  }
    #services_content_container img
  {
    width: 50px;
    margin-bottom: -5px;
    margin-top: 5px;
  }
   #services_content_container div h2
   {
     font-size: 18px;
   }
   #services_content_container div p 
   {
     margin: 0;
     line-height: 1rem;
   }
    #services_heading{
      letter-spacing: .1rem;
    }
}
@media screen and (max-width: 320px) {

  #services_content_container img
  {
    display: none;
  }
}

/*------------------------Services_extended--------------------*/
#services_extension_section
{
  align-items: center;
}
#services_extension_section > div
{
 margin: 50px;
  
}
#services_tabs li
{
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
#tabs_menu
{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: right;
}
#tabs_content
{
  display: flex;
  flex: 1;
}
#tabs_content p
{
  display: none;
}
#tabs_content p.active
{
  display: block;
}
#services_extension_section .svg_wrapper
{
  flex: 1;
}
#services_tabs img{
  display: none;
  position: absolute;
  width: 0;
  right: 0;
  padding-top: 25px;
}
#services_tabs .active img{
  display: block;
  width: 100px;
}
#services_tabs .idle .services_tabs_listitems_container:hover img{
  transition: 2s width;
  opacity: .6;
 display: block;
 width: 100px;
}

#services_tabs .services_tabs_listitems_container
{
  display: flex;
  flex-direction: column;
  max-height: 30px;
  position:relative;
}
#services_extension_section .yoga_extension_svg
{
  display: none;
}
#services_extension_section .yoga_extension_svg.active
{
  display: block;
}

#services_extension_section .svg_wrapper
{
  margin: 0;
}

/*------------------------END_Services_extended--------------------*/

/*------------------------PRICING--------------------*/
#pricing_section
{
  align-items: center;
}
#pricing_radiobox_container
{
  display: flex;
  flex:1;
  flex-direction: column;
}
.comparison {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;
  padding: 10px;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.comparison td,
.comparison th {
  border-right: 1px solid #E8E8E8;
  empty-cells: show;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  color: black;
  font-size: 2em;
}
.comparison td span
{
  font-size: .6em;
  font-family: 'Montserrat', sans-serif;
}



.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .compare-row {
  background: #F7F7F7;
}

.comparison th {
  font-weight: normal;
  padding: 0;
  border-top: 0px solid #E8E8E8;
  border-bottom: 0px solid #E8E8E8;
}

.comparison tr td:first-child {
  text-align: left;
  padding: 15px;
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}

.comparison .product,
.comparison .tl {
  color: #FFF;
  padding: 10px;
  font-size: 14px;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .product {
  background: #ff3a74;
  height: 40px;
  font-size: 2em;
}

.comparison .price-info {
  padding: 15px;
}

.comparison .price-now,
.comparison .price-now span {
  color: black;
}

.comparison .price-now span {
  font-size: 36px;
  color: black;
}

.comparison .price-now p {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  display: inline;
}
.comparison button
{
  margin-bottom: 10px;
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .table_ul li {
    letter-spacing: 0px;
  }
  .comparison .price-now span {
    font-size: 32px;
  }
  .comparison .price-now p {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .table_ul {
    padding: 0px;
  }
  .table_ul li {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 0;
  }
  .comparison {
    max-width: 100%;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }
  .comparison .row {
    background: #FFF;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px;
  }
  .price-info {
    border-top: 0 !important;
    padding: 10px 0 !important;
  }
  .price-info p {
    line-height: 8px;
    font-size: 8px !important;
  }
  .comparison .compare-row {
    background: #ffffff;
  }
  .comparison .price-now p {
    display: block;
  }
  .comparison .price-now span {
    font-size: 24px;
  }
  .comparison .qbse {
    font-size: 1.2em;
  }
  .comparison td {
    font-size: 2em;
  }
  .comparison th {
    font-size: 14px;
  }
}

/*------------------------END_PRICING--------------------*/


/*------------------------TESTIMONIALS--------------------*/
#testimonials_page_container
{
  justify-content: center;
  flex: 1;
  padding: 200px;
}
#testimonials_image_container
{
  flex:1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
#testimonials_image_container img
{
  display: none;
  width: 300px;
}
#testimonials_image_container img.active
{
  display: block;
}
#testimonials_image_container h2
{
  display:none;
}
#testimonials_image_container h2.active
{
  display: block;
}
/*------------------------END_TESTIMONIALS--------------------*/



/*------------------------CONTACT--------------------*/
#contact_page_container
{
  align-items: center;
  justify-content: center;
  flex: 2;
}
#contact_page_container img
{
  width: 200px;
  margin-top: -10px; 
}
#contact_section .image_wrapper
{
   flex: 2;
   display:flex;
}
#contact_section form{
  display: flex;
  flex-direction: column;
  width: 80%;
}
#contact_section form button{

  width: 50%;
  margin: auto;
  margin-top: 20px;
}
form input
{
  padding: 5px;
}
form span{
  font-size: 12px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
}
#contact_section .image_wrapper img
{
  height:100%;
  max-width:100%;
}
#select_lessons
{
  display: none;
  width:100%;
}
#select_lessons.active
{
  display: block;
}
#lessons
{
  width:100%;
}
/*------------------------END_CONTACT--------------------*/

.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}